#############################
###   Example .env file   ###
#############################
# Copy to .env and fill in the required variables below

# Token of the Discord bot to use for this application
DISCORD_BOT_TOKEN =

# Discord role names, separated by a comma
# e.g: helpful,staff
DISCORD_STAFF_ROLES =

# Discord Guild ID
DISCORD_GUILD =

# Discord channel ID of where to send the donor list
DISCORD_PATREON_CHANNEL =

# Discord role ID to add to users when they first join
DISCORD_MEMBER_ROLE =

# Discord channel IDs which should be checked for crossposting. Comma separated
DISCORD_CROSSPOST_CHECK_CHANNELS = 

# (OPTIONAL) Number of historical messages to check for crossposts. Default: 10
# DISCORD_CROSSPOST_HISTORY_MESSAGES = 10

# Sensitivity for the command trigger - defaults to 0.5
SIMILARITY_SENSITIVITY =
